
<div id="main-container" class="tos">
	<div class="wrapper">
    	<div id="containers">
            {*}<div class="submenu">
            	<ul>
                	<li><a href="index.php?page=statics&act=how">How To Play</a></li>
                	<li><a href="index.php?page=statics&act=prizes">Prizes</a></li>
                	<li><a href="index.php?page=statics&act=tos">Term &amp; Conditions</a></li>
                </ul>
            </div><!-- .submenu -->{/*}
            {include file="RedRushWeb/staticSubmenu.html"}
            {if $verifiedFlag != 1}
			<div class="unverified-message">
            	<h1>YOUR ACCOUNT HAS <br />
                    NOT BEEN VERIFIED<br />
                    MORE INFO:<br />
                    REDRUSH@MARLBORO.CO.ID</h1>
            </div>
			{/if}
            <div class="logo">
            	<a href="index.php">&nbsp;</a>
            </div><!-- .logo -->
            <div class="tos-img2-new"></div>
            <div class="panel">
            	<div class="entry">
                		<div class="title">
							<h1>About Redrush</h1>
                        </div><!-- .title -->
                        <div class="scrollbar">
                        {*}{$text}{/*}
                          <p>RedRush is a week full of unforgettable experiences in Italy, where you can enjoy non-stop excitement, <br />
						parties at the best clubs, and get your adrenaline charged by experiencing a once in a lifetime ultimate ride in the Ferrari F1 3 seater in Varano and Maranello, the home of Ferrari.</p>
<p>Look for appearances of the F1 cars live in your cities! <br />
Have fun collecting and rack up RedRush points! <br />
Get rewarded with unique prizes. Build up your car and race it down. Italy awaits!</p>
                        </div><!-- .scrollbar -->
                </div><!-- .entry -->
            </div><!-- .panel -->
            <div class="tos-img-new"></div>
        </div><!-- #containers -->
    </div><!-- .wrapper -->
</div><!-- #main-container -->
