
<div id="main-container" class="tos">
	<div class="wrapper">
    	<div id="containers">
            {*}<div class="submenu">
            	<ul>
                	<li><a href="how-to-play.php" class="current">How To Play</a></li>
                	<li><a href="prizes.php">Prizes</a></li>
                	<li><a href="tos.php">Term &amp; Conditions</a></li>
                </ul>
            </div><!-- .submenu -->{/*}
            {include file="RedRushWeb/staticSubmenu.html"}
            <div class="logo">
            	<a href="index.php">&nbsp;</a>
            </div><!-- .logo -->
            <div class="tos-img2-new"></div>
            <div class="panel">
            	<div class="entry">
                		<div class="title">
							<h1>How To Play</h1>
                        </div><!-- .title -->
                        <div class="scrollbar">
                            <h2>Collect Rush points, upgrade your car and climb your way up as top racers.</h2>
            
                            <h4>Get Rush points:</h4>
                            <ul>
                            <li>Online challenges</li>
                            <li>Win online races</li>
                            <li>Red Rush spots</li>
                            <li>Red Rush Night events</li>
                            </ul>
                        </div><!-- .scrollbar -->
                	{*}
                	<div class="how-to-play">
                    	<div class="video">
                        </div>
                        <a href="#" class="btn-red"></a>
                        <a href="#" class="btn-green"></a>
                    </div>
                    {/*}
                </div><!-- .entry -->
            </div><!-- .panel -->
            <div class="tos-img-new"></div>
        </div><!-- #containers -->
    </div><!-- .wrapper -->
</div><!-- #main-container -->