<h2>Insert Gallery</h2>
<br/>

<div>
<form  method="post" action="" enctype="multipart/form-data">
<table>
<input type="hidden" name="s" value="gallery">
<input type="hidden" name="insertform" value="1">
	<tr>
		<td>Judul</td>
		<td><input type="text"  name="txtjudul"></td>
	</tr>
	<tr>
		<td>Deskripsi</td>
		<td><textarea name="txtdesk" ></textarea></td>
	</tr>
		<tr>
		<td>Image Src</td>
		<td><input type="file" name="txtimg"></td>
	</tr>
	<tr>
		<td><input type="submit"></td>
		<td><input type="reset" value="ulang"></td>
	</tr>
</table>
</form>
</div>