<div id="login-wrap">
	<div id="login-logo"><img width="274" src="images/rr_logo.png" /></div>
	<div id="login-box" class="relative">
		<form id="login" name="form1" method="post" action="login.php">
			<input type="hidden" name="PHPSESSID" value="85a1fe34897ffd340ee39272d8a03b8c" />
			<input type="text" name="username" type="text" id="username" maxlength="20" value="EMAIL/USERNAME" class="absolute" />
			<input type="password" name="password" id="password" maxlength="20" value="PASSWORD" class="absolute" />
			<div class="login-border absolute"></div>
			<input name="f" type="hidden" id="f" value="1">
			<input id="button" type="submit" name="Submit" value="" class="absolute" />
			{if $msg <> ""}
		      <span class="messageLogin absolute"> {$msg} </span>
		  	{/if}
		</form>
	</div>
</div>
{literal}
<script>
	$("input#username").focus(function(){
		if ($(this).val() == "EMAIL/USERNAME"){
			$(this).val("");
		}
	});
	$("input#username").blur(function(){
		if ($(this).val() == ""){
			$(this).val("EMAIL/USERNAME");
		}
	});
	$("input#password").focus(function(){
		if ($(this).val() == "PASSWORD"){
			$(this).val("");
		}
	});
	$("input#password").blur(function(){
		if ($(this).val() == ""){
			$(this).val("PASSWORD");
		}
	});
</script>
{/literal}