
<div id="main-container" class="howtoplay">
	<div class="wrapper">
    	<div id="containers">
            {*}<div class="submenu">
            	<ul>
                	<li><a href="how-to-play.php" class="current">How To Play</a></li>
                	<li><a href="prizes.php">Prizes</a></li>
                	<li><a href="tos.php">Term &amp; Conditions</a></li>
                </ul>
            </div><!-- .submenu -->{/*}
            {include file="RedRushWeb/staticSubmenu.html"}
            <div class="logo">
            	<a href="index.php">&nbsp;</a>
            </div><!-- .logo -->
            <div class="panel">
            	<div class="entry">
                	<div class="how-to-play">
                    	<div class="video">
                        </div>
                        <a href="#" class="btn-red"></a>
                        <a href="#" class="btn-green"></a>
                    </div>
                </div><!-- .entry -->
            </div><!-- .panel -->
            <div class="howtoplay-img"></div>
        </div><!-- #containers -->
    </div><!-- .wrapper -->
</div><!-- #main-container -->
