<div id="inputCodes">
    <div id="content">
    	<div class="post postInputCodes">
        	<div class="contentInputCodes">
            	<form id="inputCode">
                	<label>INPUT  YOUR  CONNECTION CODE HERETO UNLOCK A BADGE</label>
                	<input type="text" class="thecode" />
                    <div id="chaptcha">XXYKAS80</div>
                	<input type="text" class="chaptcha" />
                    <input type="submit" value="&nbsp;" class="btnsubmit" />
                </form>
            </div>
            <div class="imgbadges"></div>
            <div class="hw18plus"></div>
        </div><!-- end .post -->
    </div><!-- end #content -->
</div><!-- end #activity -->