<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<HTML>
<HEAD>
<title>Marlboro</title>
<link rel="stylesheet" href="css/marlboro.css" media="screen,screen" type="text/css" title="default"/>
            </HEAD>
<body class="landingPage">
  <div class="mainPage">
    <div class="headerLandingPage"></div>
    <!-- close header -->
    <input name="hdnErrorMsgs" type="hidden" id="hdnErrorMsgs" value="Bagian-bagian dengan tanda bintang ('*') wajib diisi. " />
    <div class="content">
      <div id="mainPanel">
        <P><FONT color=#f5f5dc></FONT> </P>
        <!-- Placeholder in CMS to add any content required -->
      </div>
      <div class="formLanding">
        <div id="divLoginBox" class="loginBox">
          <div class="loginBoxTitle">
            <P> </P>
          </div>
		  <form method="POST" action="" id="loginForm">
          <div class="row">
            <input name="txtUserName" type="text" maxlength="60" id="txtUserName" class="lpInput" />
          </div>
          <div class="row">
            <input name="txtPassword" type="password" maxlength="12" id="txtPassword" class="lpInput" />
			<input type="hidden" name="goLogin" value="1" />
          </div>
          <div class="smSubmit"><a  id="lnkBtnSubmit" onCLick="document.getElementById('loginForm').submit();">Masuk</a></div>
          <p class="error"><span id="lblError"></span></p>
          </form>
		  <div class="forgottenpassword"><a id="lnkBtnForgotPwd" href="javascript:__doPostBack('lnkBtnForgotPwd','')">Forget Password?</a></div>
          <div class="loginBoxClose"></div>
        </div>
        <div id="divRegisterBox" class="registerBox">
          <div class="registerBoxTitle">
            <P> </P>
          </div>
          <div class="smSubmit"><a onclick="pageTracker._trackEvent('Register', 'Click');" id="lnkBtnRegister" href="javascript:__doPostBack('lnkBtnRegister','')">Not Yet Registered ? <strong>sign up</strong></a></div>
          <div class="registerBoxClose"></div>
        </div>
        <div class="formLandingClose"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class=footer>
      <div class="text style1">Informasi dalam website ini di tujukan untuk perokok berusia 18 tahun atau lebih dan tinggal di wilayah Indonesia</div>
      <div class=navigation>
        <ul>
          <li ><A href="/Templates/LandingPage.aspx">Halaman Utama</A>
          <li ><A href="/Templates/Termsandconditions.aspx" target=_Blank>Syarat dan ketentuan</A>
          <li ><A href="/Templates/RemoveMe.aspx">Hapus Saya</A>
          <li style="display:none"><A href="/demoPages/PMISite.htm" target=_Blank>PMI Corporate</A>
          <li ><A href="/Templates/FAQ.aspx" target=_Blank>Daftar Pertanyaan</A>
          <li ><A href="/Templates/Contactus.aspx" target=_Blank>Kontak Kami</A>
          <li class=last id=health ><A href="http://www.pmi.com/id/smokingandhealth" target=_Blank>Perihal Merokok</A></li>
        </ul>
      </div>
    </div>
  </div>
</form>
</body>
</HTML>
