<div id="popupYellowCab" class="popupContainer popupYellowCab">
	<div id="popupHead">
    	<div id="popupBottom">
        	<div id="popupContent">
            	<div class="selotip"></div>
                <a class="closePopup" href="#">&nbsp;</a>
                <div class="poupContent">
                	<h1>you have obtained yellow cab badge!</h1>
                    <h3>this badge has been added to your collection</h3>
                    <div class="entryDesc">
                   	 <img src="img/badge/big/badge10.png" />
                   		 <h2>YELLOW CAB</h2>
                  	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit lorem, suscipit nec mattis a, iaculis eu erat.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit lorem, suscipit nec mattis a, iaculis eu erat. </p>
					</div>
                	<h1><a class="" href="index.php?page=yellow-cab-hunt">NEXT</a></h1>
                </div><!-- end .poupContent -->
            </div><!-- end #poupContent -->
        </div><!-- end #popupBottom -->
    </div><!-- end #popupHead -->
</div><!-- end .popupContainer -->
<div id="bgPopup"></div>