	<div id="popup-ultimate-car" class="popup carbons" style="display:none;">
		<a class="popup-close" href="#">[x] Close</a>
        <div class="inner-popup">
        	<img src="img/ultimate-car.png" align="middle" />
            <h1>You've been challenged! It's the only way to level up.<br />
			 Do you have what it takes?</h1>
			<p><a href="{if $ultimateCar != ''}index.php?page=race&act=challenge_ultimate&rtoken={$ultimateCar->racing_token|strip_tags}{/if}" class="gradients">Bring it on!</a><a href="#" class="gradients">Maybe next time</a></p>
        </div>
	</div>
	<div class="backgroundPopup" style="display:block;"></div>
    {literal}
    <script type="text/javascript">
      $(document).ready(function() {
	          $(".backgroundPopup").fadeIn("slow");
              $("#popup-ultimate-car").fadeIn("slow");
            $("a.popup-close").click(function() {
                $(".backgroundPopup").fadeOut("slow");
                $("#popup-ultimate-car").fadeOut("slow");
            });
			
			 $(".gradients").click(function() {
                $(".backgroundPopup").fadeOut("slow");
                $("#popup-ultimate-car").fadeOut("slow");
            });
        });
    </script>
    {/literal}