
<div id="main-container" class="lights">
	<div class="wrapper">
    	<div id="containers">
            {include file="RedRushWeb/topuserSubmenu.html"}
            <div class="logo">
            	<a href="index.php">&nbsp;</a>
            </div><!-- .logo -->
            <div class="panel2">
            	<div class="entry">
                        <div class="scrollbar">
                            <div class="box racer">
                                <div class="row">
                                    <div class="thumb">
                                        <a href="index.php?page=garage"><img src="img/thumb.jpg" /></a>
                                    </div><!-- .thumb -->
                                    <div class="caption">
                                        <span class="username">JOKO</span>
                                        <span class="reputation">Newbie</span>
                                        <span class="level">Level 4</span>
                                    </div><!-- .caption -->
                                    <div class="action">
                                        <a class="view" href="index.php?page=garage">View</a>
                                        <a class="challenge" href="#">Challenge</a>
                                    </div><!-- .action -->
                                </div><!-- .row -->
                                <div class="row">
                                    <div class="thumb">
                                        <a href="index.php?page=garage"><img src="img/thumb.jpg" /></a>
                                    </div><!-- .thumb -->
                                    <div class="caption">
                                        <span class="username">JOKO</span>
                                        <span class="reputation">Newbie</span>
                                        <span class="level">Level 4</span>
                                    </div><!-- .caption -->
                                    <div class="action">
                                        <a class="view" href="index.php?page=garage">View</a>
                                        <a class="challenge" href="#">Challenge</a>
                                    </div><!-- .action -->
                                </div><!-- .row -->
                                <div class="row">
                                    <div class="thumb">
                                        <a href="index.php?page=garage"><img src="img/thumb.jpg" /></a>
                                    </div><!-- .thumb -->
                                    <div class="caption">
                                        <span class="username">JOKO</span>
                                        <span class="reputation">Newbie</span>
                                        <span class="level">Level 4</span>
                                    </div><!-- .caption -->
                                    <div class="action">
                                        <a class="view" href="index.php?page=garage">View</a>
                                        <a class="challenge" href="#">Challenge</a>
                                    </div><!-- .action -->
                                </div><!-- .row -->
                                <div class="row">
                                    <div class="thumb">
                                        <a href="index.php?page=garage"><img src="img/thumb.jpg" /></a>
                                    </div><!-- .thumb -->
                                    <div class="caption">
                                        <span class="username">JOKO</span>
                                        <span class="reputation">Newbie</span>
                                        <span class="level">Level 4</span>
                                    </div><!-- .caption -->
                                    <div class="action">
                                        <a class="view" href="index.php?page=garage">View</a>
                                        <a class="challenge" href="#">Challenge</a>
                                    </div><!-- .action -->
                                </div><!-- .row -->
                                <div class="row">
                                    <div class="thumb">
                                        <a href="index.php?page=garage"><img src="img/thumb.jpg" /></a>
                                    </div><!-- .thumb -->
                                    <div class="caption">
                                        <span class="username">JOKO</span>
                                        <span class="reputation">Newbie</span>
                                        <span class="level">Level 4</span>
                                    </div><!-- .caption -->
                                    <div class="action">
                                        <a class="view" href="index.php?page=garage">View</a>
                                        <a class="challenge" href="#">Challenge</a>
                                    </div><!-- .action -->
                                </div><!-- .row -->
                                <div class="row">
                                    <div class="thumb">
                                        <a href="index.php?page=garage"><img src="img/thumb.jpg" /></a>
                                    </div><!-- .thumb -->
                                    <div class="caption">
                                        <span class="username">JOKO</span>
                                        <span class="reputation">Newbie</span>
                                        <span class="level">Level 4</span>
                                    </div><!-- .caption -->
                                    <div class="action">
                                        <a class="view" href="index.php?page=garage">View</a>
                                        <a class="challenge" href="#">Challenge</a>
                                    </div><!-- .action -->
                                </div><!-- .row -->
                                <div class="row">
                                    <div class="thumb">
                                        <a href="index.php?page=garage"><img src="img/thumb.jpg" /></a>
                                    </div><!-- .thumb -->
                                    <div class="caption">
                                        <span class="username">JOKO</span>
                                        <span class="reputation">Newbie</span>
                                        <span class="level">Level 4</span>
                                    </div><!-- .caption -->
                                    <div class="action">
                                        <a class="view" href="index.php?page=garage">View</a>
                                        <a class="challenge" href="#">Challenge</a>
                                    </div><!-- .action -->
                                </div><!-- .row -->
                            </div><!-- .box -->
                        </div><!-- .scrollbar -->
                </div><!-- .entry -->
            </div><!-- .panel -->
            <div id="sidebar">
            	<div class="entry">
                    <div id="profile2">
                        <div class="thumb"><a href="#"><img src="img/thumbs.jpg" /></a></div>
                        <div class="box-user">
                            <span class="username">Acit Jazz</span>
                            <span class="reputation">Race Addict</span>
                            <span class="total-race">14 Race</span>
                            <span class="total-win">4 Wins</span>
                            <span class="rank">Rank 34</span>
                            <span class="total-point">60050 PTS</span>
                        </div>
                    </div><!-- #profile --> 
                </div><!-- .entry -->
            </div><!-- #sidebar -->
            <div class="lights-img"></div>
        </div><!-- #containers -->
    </div><!-- .wrapper -->
</div><!-- #main-container -->
