<div id="update-clues">
    <div id="content">
    	<div class="post postUpdateClues">
        	<div id="listUpdateClues">
                  <ul id="first-carousel" class="listnews jcarousel-skin-tango">
                    <li>
                        <div class="list">
                            <p><a class="seeDetail" href="#popupYellowCab">Get Yellow Cab Here!</a> consectetur adipiscing elit. Etiam elit lorem, suscipit nec mattis a, iaculis eu erat. &raquo; <a class="seeDetail" href="#popupActivity">see detail</a></p>
                        </div>
                    </li>
                    <li>
                        <div class="list">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit lorem, suscipit nec mattis a, iaculis eu erat. &raquo; <a class="seeDetail" href="#popupActivity">see detail</a></p>
                        </div>
                    </li>
                    <li>
                        <div class="list">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit lorem, suscipit nec mattis a, iaculis eu erat. &raquo; <a class="seeDetail" href="#popupActivity">see detail</a></p>
                        </div>
                    </li>
                    <li>
                        <div class="list">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit lorem, suscipit nec mattis a, iaculis eu erat. &raquo; <a class="seeDetail" href="#popupActivity">see detail</a></p>
                        </div>
                    </li>
                    <li>
                        <div class="list">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit lorem, suscipit nec mattis a, iaculis eu erat. &raquo; <a class="seeDetail" href="#popupActivity">see detail</a></p>
                        </div>
                    </li>
                    <li>
                        <div class="list">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit lorem, suscipit nec mattis a, iaculis eu erat. &raquo; <a class="seeDetail" href="#popupActivity">see detail</a></p>
                        </div>
                    </li>
                  </ul>
          	</div><!-- end #listUpdateClues -->
            <div id="inputCode1">
            	<form action="#">
                	<input type="text" name="code" class="inputCode1" />
                    <input type="submit" value="&nbsp;" class="btnsubmit" />
                </form>
            </div><!-- end #inputCode1 -->
        </div><!-- end .post -->
    </div><!-- end #content -->
</div><!-- end #update-clues -->
{include file="marlboro/popup_activity.html"}
{include file="marlboro/popup_yellowCab.html"}