<div id="activity">
    <div id="content">
    	<div class="post postYellowCab">
        	<div id="listActivity">
                  <ul id="first-carousel" class="listactivity jcarousel-skin-tango">
                    <li>
                    	<div class="thumbPhoto">
                        	<div class="crop"><img src="avatar/sample.jpg" /></div>
                        </div>
                        <div class="list">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit lorem, suscipit nec mattis a, iaculis eu erat. &raquo; <a class="seeDetail" href="#popupYellowCabMap">see detail</a></p>
                        </div>
                    </li>
                    <li>
                    	<div class="thumbPhoto">
                        	<div class="crop"><img src="avatar/sample.jpg" /></div>
                        </div>
                        <div class="list">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit lorem, suscipit nec mattis a, iaculis eu erat. &raquo; <a class="seeDetail" href="#popupYellowCabMap">see detail</a></p>
                        </div>
                    </li>
                    <li>
                    	<div class="thumbPhoto">
                        	<div class="crop"><img src="avatar/sample.jpg" /></div>
                        </div>
                        <div class="list">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit lorem, suscipit nec mattis a, iaculis eu erat. &raquo; <a class="seeDetail" href="#popupYellowCabMap">see detail</a></p>
                        </div>
                    </li>
                    <li>
                    	<div class="thumbPhoto">
                        	<div class="crop"><img src="avatar/sample.jpg" /></div>
                        </div>
                        <div class="list">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit lorem, suscipit nec mattis a, iaculis eu erat. &raquo; <a class="seeDetail" href="#popupYellowCabMap">see detail</a></p>
                        </div>
                    </li>
                    <li>
                    	<div class="thumbPhoto">
                        	<div class="crop"><img src="avatar/sample.jpg" /></div>
                        </div>
                        <div class="list">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit lorem, suscipit nec mattis a, iaculis eu erat. &raquo; <a class="seeDetail" href="#popupYellowCabMap">see detail</a></p>
                        </div>
                    </li>
                    <li>
                    	<div class="thumbPhoto">
                        	<div class="crop"><img src="avatar/sample.jpg" /></div>
                        </div>
                        <div class="list">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit lorem, suscipit nec mattis a, iaculis eu erat. &raquo; <a class="seeDetail" href="#popupYellowCabMap">see detail</a></p>
                        </div>
                    </li>
                  </ul>
          	</div><!-- end #listActivity -->
            <div class="yellowTapes">
            	<div class="yellowTape">
                	<p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipiscing elit. Etiam elit lorem, suscipit nec mattis a, iaculis eu erat.</p>
					<p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipiscing elit. Etiam elit lorem. Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Etiam elit lorem, suscipit nec mattis a, iaculis eu erat. </p>
                </div><!-- end .yellowTape -->
            </div><!-- end .yellowTapes -->
            <div class="taxi"></div>
        </div><!-- end .post -->
    </div><!-- end #content -->
</div><!-- end #activity -->
{include file="marlboro/popup_yellowCabMap.html"}