<table id="Table_01" width="600" height="768" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#000000">
  <tr>
    <td><img src="https://marlboro.co.id/mop/email/email_01.jpg" width="600" height="115" alt=""></td>
  </tr>
  <tr>
    <td height="522" background="https://marlboro.co.id/mop/email/email_02.jpg" valign="top"><div style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-size:18px; color:#fff; padding:20px 40px;"> 
        <h3>HI {name},</h3>
        <p>Sudah di level 3?!
        <p>Siapkan diri kamu untuk menghadapi Ultimate Car Challenge!
        <p>Lewati tantangan ini untuk melanjutkan ke level  4 dan buka lebih banyak locked parts. Italia menanti kamu!
        <p>Log in ke <a href="http://www.marlboro.co.id" style="color:#C00; text-decoration:none;">marlboro.co.id</a>, tunjukkan bahwa kamu adalah pemenang.
        <p>See you at the finish line!</p>
      </div></td>
  </tr>
  <tr>
    <td><img src="https://marlboro.co.id/mop/email/email_03.jpg" width="600" height="131" alt=""></td>
  </tr>
</table>
