<table id="Table_01" width="600" height="768" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#000000">
  <tr>
    <td><img src="https://marlboro.co.id/mop/email/email_01.jpg" width="600" height="115" alt=""></td>
  </tr>
  <tr>
    <td height="522" background="https://marlboro.co.id/mop/email/email_02.jpg" valign="top"><div style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-size:15px; color:#fff; padding:20px 40px;"> 
        <h3>Racers, We're almost there!</h3>
        <p>Marlboro RedRush will reach the finish line on June 30th , 2012. It's been an awesome ride.<br /> Now is time to spend all your Rush Points. Redeem points still open till July 7th , 2012.</p>
<p>You still have chance to redeem your points with our exclusive merchandise.<br />
Thank you for your full participation in Marlboro RedRush. </p>
<p>Only Marlboro can offer you the unforgettable thrilling experience.<br />
It's not a farewell! Another exciting program coming from Marlboro!</p>
<p>Ciao!</p>
      </div></td>
  </tr>
  <tr>
    <td><img src="https://marlboro.co.id/mop/email/email_03.jpg" width="600" height="131" alt=""></td>
  </tr>
</table>
