<div id="main-container">
	<div class="wrapper">
    	<div id="containers">
             {include file="RedRushWeb/newsfeedSubmenu.html"}
            <div class="logo">
            	<a href="index.php">&nbsp;</a>
            </div><!-- .logo -->
            <div class="panel">
            	<div class="entry">
                    <div class="title">
                        <h1>EVENTS</h1>
                    </div><!-- .title -->
                    <div class="scrollbar">
                    		{if $view}
                            <h1 class="title-news">{$title|stripslashes|strip_tags}</h1>
                            <p>Posted: {$date}<br />
                            {$detail|stripslashes|strip_tags}</p>
							{if $img !='' }
                            <a rel="group" href="{$img}">
                              <img src="{$thumb_img}" width="125" height="78" />
                            </a>
            				{/if}
                            {else}
                            No news and update available.
                            {/if}
                    </div><!-- .scrollbar -->
                </div><!-- .entry -->
            </div><!-- .panel -->
            <div id="sidebar">
            	<div class="entry">
                	<div class="box">
                        <div class="title-box">
                            <h1>Featured News</h1>
                        </div><!-- .title -->  
                        <div class="box-red" id="feartured-news">
                            <div class="content">
                                    {if $featured}
                                    {section name=i loop=$featured}
                                    <div class="list">
                                    <p>
                                    <h1 class="title-news"><a href="index.php?page=news&act=view&nid={$featured[i].id}">{$featured[i].title|stripslashes|strip_tags}</a></h1>
                                    <span class="brief-news">
                                    {$featured[i].brief|stripslashes|strip_tags}
                                    </span>
                                    <br />
                                    <a href="index.php?page=news&act=view&nid={$featured[i].id}">Details here &raquo;</a>
                                    </div><!-- .list -->
                                    {/section}
                                    {else}
                                    No featured news available.
                                    {/if}
                            </div><!-- .content -->   
                        </div><!-- .box-red -->   
                    </div><!-- .box -->   
                </div><!-- .entry -->
            </div><!-- #sidebar -->
        </div><!-- #containers -->
    </div><!-- .wrapper -->
</div><!-- #main-container -->

{literal}

<script type="text/javascript" src="js/jquery.mousewheel-3.0.4.pack.js"></script>
<script type="text/javascript" src="js/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" type="text/css" href="css/jquery.fancybox-1.3.4.css" media="screen" />

<script type="text/javascript">
$(document).ready(function () {

	$("a[rel=group]").fancybox({
		'transitionIn'		: 'none',
		'transitionOut'		: 'none',
		'titlePosition' 	: 'over',
		'titleFormat'		: function(title, currentArray, currentIndex, currentOpts) {
			return '<span id="fancybox-title-over">Image ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>';
		}
	});
});
</script>
{/literal}