<meta http-equiv="refresh" content="2; url=index.php?page={$go_url}"/>
<div id="main-container">
	<div class="wrapper">
    	<div id="containers">
				<div class="panel">
                    <div class="entry-message"> 
                            <h1>{$message}</h1>					
                            <a class="message-text" href='?page={$go_url}'>Click here</a>	
                    </div><!-- .entry -->
               </div><!-- .panel -->
        </div><!-- #containers -->
    </div><!-- .wrapper -->
</div><!-- #main-container -->
