
<div id="main-container" class="city_top">
	<div class="wrapper">
    	<div id="containers">
            {include file="RedRushWeb/newsfeedSubmenu.html"}
            <div class="logo">
            	<a href="index.php">&nbsp;</a>
            </div><!-- .logo -->
            <div class="panel2">
            	<div class="entry">
                        <div class="scrollbar">
                    	<p><strong>Get more points now!</strong><br />
							Grab that upgrade faster and win more races! Earn extra points by completing multiple challenges</p>
                            
                        <p><strong>Marlboro Red Rush Night Events </strong><br />
                            Experience the thrills and grab more Rush Points in Marlboro Red Rush
                            Night at Blowfish, Saturday, June 16
                            </p>
                        </div><!-- .scrollbar -->
                </div><!-- .entry -->
            </div><!-- .panel -->
            <div id="sidebar">
            	<div class="entry">
                	<div class="box">
                        <div class="title-box">
                            <h1>Featured NEWS</h1>
                        </div><!-- .title -->  
                        <div class="box-red" id="feartured-news">
                        	<div class="content">
                                <p>Epsum factorial non dep 
                                osit quid pro quo hic escorol.
                                Olypian quarrels etgorilla
                                congolium sic ad nauseum.</p>
                                <a href="#">See Detail &raquo;</a>
                            </div><!-- .content -->   
                        </div><!-- .box-red -->   
                    </div><!-- .box -->   
                </div><!-- .entry -->
            </div><!-- #sidebar -->
            <div class="car-extreme-img"></div>
        </div><!-- #containers -->
    </div><!-- .wrapper -->
</div><!-- #main-container -->