

	<div id="popup-brake" class="partbar">
		<a class="popup-close" href="#popup-brake">[x] Close</a>
        <div class="content-popup">
          <ul class="jcarousel-skin-tango list-sparepart-carousel">
                  <ul>
              <li>
              		<div class="sparepart-list">
                    	<div class="thumb-sparepart"><img src="img/sparepart/knalpot1.png" alt="" /></div>
                        <div class="sparepart-desc">
                        	<span class="sparepart-name">LEVEL 6 ENGINE</span>
                        	<span class="sparepart-point">35000 PTS.</span>
                        	<a href="#" class="buy-item">&nbsp;</a>
                        </div>
              		</div>
              </li>
              <li>
              		<div class="sparepart-list">
                    	<div class="thumb-sparepart"><img src="img/sparepart/knalpot2.png" alt="" /></div>
                        <div class="sparepart-desc">
                        	<span class="sparepart-name">LEVEL 6 ENGINE</span>
                        	<span class="sparepart-point">35000 PTS.</span>
                        	<a href="#" class="buy-item">&nbsp;</a>
                        </div>
              		</div>
              </li>
              <li>
              		<div class="sparepart-list">
                    	<div class="thumb-sparepart"><img src="img/sparepart/knalpot3.png" alt="" /></div>
                        <div class="sparepart-desc">
                        	<span class="sparepart-name">LEVEL 6 ENGINE</span>
                        	<span class="sparepart-point">35000 PTS.</span>
                        	<a href="#" class="buy-item">&nbsp;</a>
                        </div>
              		</div>
              </li>
              <li>
              		<div class="sparepart-list">
                    	<div class="thumb-sparepart"><img src="img/sparepart/knalpot4.png" alt="" /></div>
                        <div class="sparepart-desc">
                        	<span class="sparepart-name">LEVEL 6 ENGINE</span>
                        	<span class="sparepart-point">35000 PTS.</span>
                        	<a href="#" class="buy-item">&nbsp;</a>
                        </div>
              		</div>
              </li>
              <li>
              		<div class="sparepart-list">
                    	<div class="thumb-sparepart"><img src="img/sparepart/knalpot1.png" alt="" /></div>
                        <div class="sparepart-desc">
                        	<span class="sparepart-name">LEVEL 6 ENGINE</span>
                        	<span class="sparepart-point">35000 PTS.</span>
                        	<a href="#" class="buy-item">&nbsp;</a>
                        </div>
              		</div>
              </li>
              <li>
              		<div class="sparepart-list">
                    	<div class="thumb-sparepart"><img src="img/sparepart/knalpot2.png" alt="" /></div>
                        <div class="sparepart-desc">
                        	<span class="sparepart-name">LEVEL 6 ENGINE</span>
                        	<span class="sparepart-point">35000 PTS.</span>
                        	<a href="#" class="buy-item">&nbsp;</a>
                        </div>
              		</div>
              </li>
              <li>
              		<div class="sparepart-list">
                    	<div class="thumb-sparepart"><img src="img/sparepart/knalpot3.png" alt="" /></div>
                        <div class="sparepart-desc">
                        	<span class="sparepart-name">LEVEL 6 ENGINE</span>
                        	<span class="sparepart-point">35000 PTS.</span>
                        	<a href="#" class="buy-item">&nbsp;</a>
                        </div>
              		</div>
              </li>
              <li>
              		<div class="sparepart-list">
                    	<div class="thumb-sparepart"><img src="img/sparepart/knalpot4.png" alt="" /></div>
                        <div class="sparepart-desc">
                        	<span class="sparepart-name">LEVEL 6 ENGINE</span>
                        	<span class="sparepart-point">35000 PTS.</span>
                        	<a href="#" class="buy-item">&nbsp;</a>
                        </div>
              		</div>
              </li>
          </ul>
          </div>
	</div>
	<div class="backgroundPopup"></div>