
    	<div id="glossary">
            <div class="title"><h1>GLOSSARY</h1></div>
            <div class="row">
                <div class="boxleft">
                    <a rel="group" href="images/glossary/1.jpg">
                      <img src="images/glossary/thumb/1.png" />
                    </a>
                </div><!-- end .boxleft -->
                <div class="boxRight">
                    <div class="entry nopad">
                        <span class="red">Visit:</span> 
                        <p>Total number of visits to the website based on the data imported from 
                        Google Analytics</p>
                        <span class="red">Time On Site: </span> 
                        <p>Visit length of  all visitors based on the data imported from Google Analytics</p>
                        <span class="red">User: </span> 
                        <p>Total number of unique users logged in to the website </p> 
                        <span class="red">Participant: </span> 
                        <p>Total number of level 1 users that engaged in any one of the RedRush online 
                        activities (race, buy parts, customize car or mini games)</p>
                    </div><!-- end .entry -->
                </div><!-- end .boxRight -->
            </div><!-- end .row -->
            <div class="row">
                <div class="boxleft">
                    <a rel="group" href="images/glossary/2.jpg">
                      <img src="images/glossary/thumb/2.png" />
                    </a>
                    <a rel="group" href="images/glossary/3.jpg">
                      <img src="images/glossary/thumb/3.png" />
                    </a>
                </div><!-- end .boxleft -->
                <div class="boxRight">
                    <div class="entry nopad">
                        <span class="red">Login:</span> 
                        <p>Total number of unique users logged in to the website </p>
                        <span class="red">ACTIVE PARTICIPANT : </span> 
                        <p>Total number of level 1 users that engaged in any one of the RedRush online activities (race, buy parts, customize car or mini games)</p>
                        <span class="red">ACTIVE PARTICIPANT/LOGIN: </span> 
                        <p>The sum of the number of Participants divided by the number of Users</p> 
                        <span class="red">Loyalty: </span> 
                        <p>returning user to the site </p>
                        <span class="red">Average Page Views:</span> 
                        <p>The total time spent on a page divided by the number of unique visits to that page. The value is shown in minutes</p>
                    </div><!-- end .entry -->
                </div><!-- end .boxRight -->
            </div><!-- end .row -->
            <div class="row">
                <div class="boxleft">
                    <a rel="group" href="images/glossary/4.jpg">
                      <img src="images/glossary/thumb/4.png" />
                    </a>
                </div><!-- end .boxleft -->
                <div class="boxRight">
                    <div class="entry">
                        <span class="red">Page View Distribution:</span> 
                        <p>The distribution of the number of page views viewed by users on each page of the website</p>
                    </div><!-- end .entry -->
                </div><!-- end .boxRight -->
            </div><!-- end .row -->
            <div class="row">
                <div class="boxleft">
                    <a rel="group" href="images/glossary/5.jpg">
                      <img src="images/glossary/thumb/5.png" />
                    </a>
                </div><!-- end .boxleft -->
                <div class="boxRight">
                    <div class="entry">
                        <span class="red">ACTIVITY Distribution:</span> 
                        <p>The distribution of the number of activities engaged by users on each activity page of the website</p>
                    </div><!-- end .entry -->
                </div><!-- end .boxRight -->
            </div><!-- end .row -->
            <div class="row">
                <div class="boxleft">
                    <a rel="group" href="images/glossary/6.jpg">
                      <img src="images/glossary/thumb/6.png" />
                    </a>
                </div><!-- end .boxleft -->
                <div class="boxRight">
                    <div class="entry">
                        <span class="red">Geographical Distribution:</span> 
                        <p>The distribution of the number of users from individual cities based on the MOP registration data.</p>
                    </div><!-- end .entry -->
                </div><!-- end .boxRight -->
            </div><!-- end .row -->
            <div class="row">
                <div class="boxleft">
                    <a rel="group" href="images/glossary/7.jpg">
                      <img src="images/glossary/thumb/7.png" />
                    </a>
                </div><!-- end .boxleft -->
                <div class="boxRight">
                    <div class="entry">
                        <span class="red">Average Time on Activity Ditribution:</span> 
                        <p>The distribution of the average time spent  on each RedRush activities</p>
                    </div><!-- end .entry -->
                </div><!-- end .boxRight -->
            </div><!-- end .row -->
            <div class="row">
                <div class="boxleft">
                    <a rel="group" href="images/glossary/8.jpg">
                      <img src="images/glossary/thumb/8.png" />
                    </a>
                </div><!-- end .boxleft -->
                <div class="boxRight">
                    <div class="entry">
                        <span class="red">Average RacesPlayed:</span> 
                        <p>The average  number of races played by users each day</p>
                        <span class="red">Average Car Modifications: </span> 
                        <p>The average  number of  car modifications have been made by users each day</p>
                        <span class="red">Average Time on Each Level: </span> 
                        <p>The average time spent  by users on each level of racing </p> 
                    </div><!-- end .entry -->
                </div><!-- end .boxRight -->
            </div><!-- end .row -->
            <div class="row">
                <div class="boxleft">
                    <a rel="group" href="images/glossary/9.jpg">
                      <img src="images/glossary/thumb/9.png" />
                    </a>
                </div><!-- end .boxleft -->
                <div class="boxRight">
                    <div class="entry">
                        <span class="red">Total mini game played: </span> 
                        <p>Total number of mini games played by users</p>
                        <span class="red">Percentage Plays by Game:  </span> 
                        <p>Comparative percentages of the number of mini games played by users</p>
                        <span class="red">Average time on game:  : </span> 
                        <p>Comparative chart of the average time spent by users on each game</p> 
                    </div><!-- end .entry -->
                </div><!-- end .boxRight -->
            </div><!-- end .row -->
            <div class="row">
                <div class="boxleft">
                    <a rel="group" href="images/glossary/10.jpg">
                      <img src="images/glossary/thumb/10.png" />
                    </a>
                </div><!-- end .boxleft -->
                <div class="boxRight">
                    <div class="entry">
                        <span class="red">Merchendise Redeemed:</span> 
                        <p>Comparative fluctuations of the total number of  each merchandise redeemed by users</p>
                    </div><!-- end .entry -->
                </div><!-- end .boxRight -->
            </div><!-- end .row -->
            <div class="row">
                <div class="col">
                    <div class="boxleft">
                        <a rel="group" href="images/glossary/11.jpg">
                          <img src="images/glossary/thumb/11.png" />
                        </a>
                    </div><!-- end .boxleft -->
                    <div class="boxRight">
                        <div class="entry">
                            <span class="red"> Device Used: </span> 
                            <p>Comparative percentages of the devices used to access the website</p>
                        </div><!-- end .entry -->
                    </div><!-- end .boxRight -->
                </div><!-- end .col -->
                <div class="col">
                    <div class="boxleft">
                        <a rel="group" href="images/glossary/12.jpg">
                          <img src="images/glossary/thumb/12.png" />
                        </a>
                    </div><!-- end .boxleft -->
                    <div class="boxRight">
                        <div class="entry">
                            <span class="red">Gender/Age:</span> 
                            <p>Total number of users based on age and gender classification</p>
                        </div><!-- end .entry -->
                    </div><!-- end .boxRight -->
                </div><!-- end .col -->
                <div class="col">
                    <div class="boxleft">
                        <a rel="group" href="images/glossary/13.jpg">
                          <img src="images/glossary/thumb/13.png" />
                        </a>
                    </div><!-- end .boxleft -->
                    <div class="boxRight">
                        <div class="entry">
                            <span class="red">Brand Preference:</span> 
                            <p>Comparative percentages of  users preferred brands</p>
                        </div><!-- end .entry -->
                    </div><!-- end .boxRight -->
                </div><!-- end .col -->
            </div><!-- end .row -->
    	</div><!-- end #glossary -->