<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>SBA</title>
<link href="css/sba.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.tools.min.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script src="js/social.js"></script>	
</head>

<body>
<div id="wrapper">
	<div id="header">
    </div>
    <div id="container">
    	<div id="nav">
        	<ul class="nav-left">
            	<li><a href="index.php">Home</a>|</li>
                <li><a href="index.php?profile=1">My Profile</a>|</li>
                <li><a href="index.php?news=1">Berita Terbaru</a>|</li>
                <li><a href="index.php?events=1">Events</a>|</li>
                <li><a href="index.php?gallery=1">Galeri</a>|</li>
                <li><a href="index.php?download=1">Download</a></li>
            </ul>
            <ul class="nav-right">
                <li><a href="#">Logout</a>
            	<li><a href="konfirmasi-ba.html">Konfirmasi BA</a>|</li>
            </ul>
        </div>
        <div id="banner">
        	<img src="images/banner/banner-970x170.jpg" />
        </div>
        <div id="main-content">
        	{$mainContent}
        </div><!-- end div main Content -->
    </div>
    <div id="footer">
    </div>
</div>
</body>
</html>
