{literal}
<script type="text/javascript">
function setConfirm(){
	if( confirm("Anda yakin ingin merubah leader ini?") ){
		return true;
	}else{
		return false;
	}
}
</script>
{/literal}
<p><strong>BA Management</strong></p><br>
<br/>
{if $msg}<div style="color:#cc0000;">{$msg}</div>{/if}
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="addlist zebra">
  <tr class="head">
    <td><strong>ID</strong></td>
    <td><strong>Name</strong></td>
    <td><strong>Email</strong></td>
	<td><strong>Register Date</strong></td>
	<td><strong>Username</strong></td>
    <td  width="150"><strong>is leader</strong></td>
  </tr>
  {section name=i loop=$list}
  <tr>
    <td>{$list[i].id}</td>
    <td>{$list[i].name|stripslashes|strip_tags}</td>
    <td>{$list[i].email|stripslashes|strip_tags}</td>
    <td>{$list[i].register_date|stripslashes|strip_tags}</td>
	<td>{$list[i].username|stripslashes|strip_tags}</td>
    <td>
		{if $list[i].leader_id > 0}
			Yes | <a href="?s=ba&act=setnoleader&id={$list[i].id}" onclick="return setConfirm();">Set No Leader</a>
		{elseif $list[i].leader > 0}
			-
		{else}
			<a href="?s=ba&act=setleader&id={$list[i].id}">No</a>
		{/if}
	</td>
  </tr>
  {/section}
</table>
<p>{$paging}</p>