<div>
<form  method="post" action="" enctype="multipart/form-data">
<table>
<input type="hidden" name="idAlbumPic" value="{$form_insert_new_pic}">
<input type="hidden" name="insertnewpic" value="1">
	<tr>
		<td>Caption</td>
		<td><input type="text"  name="txtcaption"></td>
	</tr>
	<tr>
		<td>Image Src</td>
		<td><input type="file" name="txtimg"></td>
	</tr>
	<tr>
		<td><input type="submit" value="submit"></td>
		<td><input type="reset" value="Reset"></td>
	</tr>
</table>
</form>
</div>