<div class="title">
                    <h1>Berita Terbaru</h1>
                    <a href="#" class="view-all">Semua Berita</a>
                </div>
                <div class="content">
                	<img class="img-left" src="images/thumb/thumb-110x75-1.jpg" />
                    <div class="text">
                    	<span class="date"> 2 Februari 2011</span>
                        <p>Serunya gathering di Surabaya yang dihadiri oleh
                        Presiden Phillip Morris. Acara diawali oleh 
                        serangkaian sambutan dan upacara...</p>
                        <a href="index.php?news=1&id=23">Lebih Lanjut &raquo;</a>
                    </div>
                    <a href="index.php?news=1&id=23" class="list download">
                    	<span class="date">28 Februari 2011</span>
                        <span class="info">File Peraturan SBA telah di upload kebagian file.</span>
                        <span class="bold">Silahkan para SBA mendownload segera.</span>
                    </a>
                    <a href="index.php?news=1&id=23" class="list download">
                    	<span class="date">28 Februari 2011</span>
                        <span class="info">File Peraturan SBA telah di upload kebagian file.</span>
                        <span class="bold">Silahkan para SBA mendownload segera.</span>
                    </a>
                </div>