                <div class="content">
					<a href="index.php?events=1&id=23"><h3>Lorem ipsum dollor</h3></a>
                	<img class="img-left" src="images/thumb/thumb-110x75-1.jpg" />
                    <div class="text">
                    	<p>Serunya gathering di Surabaya yang dihadiri oleh
                        Presiden Phillip Morris. Acara diawali oleh 
                        serangkaian sambutan dan upacara...</p>
                        <a href="index.php?events=1&id=23">comment (2)</a>&nbsp;&nbsp;
						<a href="index.php?events=1&id=23">like</a>
                    </div>
                </div>
				<div class="content">
					<a href="index.php?events=1&id=23"><h3>Lorem ipsum dollor</h3></a>
                	<img class="img-left" src="images/thumb/thumb-110x75-1.jpg" />
                    <div class="text">
                    	<p>Serunya gathering di Surabaya yang dihadiri oleh
                        Presiden Phillip Morris. Acara diawali oleh 
                        serangkaian sambutan dan upacara...</p>
                        <a href="index.php?events=1&id=23">comment (2)</a>&nbsp;&nbsp;
						<a href="index.php?events=1&id=23">like</a>
                    </div>
                </div>
				<div class="content">
					<a href="index.php?events=1&id=23"><h3>Lorem ipsum dollor</h3></a>
                	<img class="img-left" src="images/thumb/thumb-110x75-1.jpg" />
                    <div class="text">
                    	<p>Serunya gathering di Surabaya yang dihadiri oleh
                        Presiden Phillip Morris. Acara diawali oleh 
                        serangkaian sambutan dan upacara...</p>
                        <a href="index.php?events=1&id=23">comment (2)</a>&nbsp;&nbsp;
						<a href="index.php?events=1&id=23">like</a>
                    </div>
                </div>