{literal}
<script type="text/javascript">
$(document).ready(function(){
	$('.like').click(function(){
		var pro = $(this).attr('pro');
		var ids = $(this).attr('id');
		var id = ids.split('-');
		id = id[1];
		
		if( pro == 'like' ){		
			$.post('?events=1&act=like&sid='+id, function(data) {
				if( data == 1 ){
					//$('#'+ids).removeClass("like");
					//$('#'+ids).addClass("unlike");
					$('#'+ids).attr( "value", " Unlike " );
					$('#'+ids).attr( "pro", "unlike" );
				}else{
					alert( "Processing like failed, please try again" );
				}
			});
		}else{
			$.post('?events=1&act=unlike&sid='+id, function(data) {
				if( data == 1 ){
					//$('#'+ids).removeClass("unlike");
					//$('#'+ids).addClass("like");
					$('#'+ids).attr( "value", " Like " );
					$('#'+ids).attr( "pro", "like" );
				}else{
					alert( "Processing unlike failed, please try again" );
				}
			});
		}
	});
	
	$('#createNewEvent').click(function(){
		window.location.href = '?events=1&act=add';
	});
});
</script>
{/literal}

{section name=i loop=$list}
<div class="content">
	<a href="index.php?events=1&id={$list[i].id}"><h3>{$list[i].nama_event|stripslashes|strip_tags}</h3></a>
    <img class="img-left" src="images/thumb/thumb-110x75-1.jpg" />
    <div class="text">
        <p>{$list[i].deskripsi|stripslashes|strip_tags}</p>
        <a href="index.php?events=1&id={$list[i].id}">comment ({$list[i].comments})</a>&nbsp;&nbsp;
		{if $list[i].suka == 0}
		<input type="button" value=" Like " id="like-{$list[i].id}" class="like" pro="like" />
		{else}
		<input type="button" value=" Unlike " id="like-{$list[i].id}" class="like" pro="unlike" />
		{/if}
    </div>
</div>
<br />
{/section}
<br />
<p>{$paging}</p>
<br />
{if $user_ba == 1}
<input type="button" value=" Create New " id="createNewEvent" />
{/if}