<div class="title">
            	<h1>Gallery Update</h1>
                <a href="#" class="view-all">Lihat Semua</a>
                </div>
            	<div class="gallery-scroll">
                	 <!-- aksi untuk halaman sebelumnya -->
                      <a class="prevPage browse left"></a>
                      <!-- elemen untuk scrollable -->
                      <div class="scrollable" id="infinite">	
                         <!-- elemen untuk items -->
                         <div style="left: -1320px;" class="items">
                        <!-- foto ke 1-4 -->
                            <a href="#">
                            	<img src="images/thumb/thumb-140x100-1.jpg">
                            	<span>Marlboro Light Style Your Party Bandung</span>
                            </a>
                            <a href="#"><img src="images/thumb/thumb-140x100-3.jpg">
                            	<span>Marlboro Light Style Your Party Jakarta</span>
                            </a>
                            <a href="#"><img src="images/thumb/thumb-140x100-3.jpg">
                            	<span>Marlboro Light Style Your Party Surabaya</span>
                            </a>
                            <a href="#"><img src="images/thumb/thumb-140x100-4.jpg">
                            	<span>Marlboro Light Style Your Party Medan</span>
                            </a>
                        
                            <!-- foto ke 5-8 -->
                            <a href="#">
                            	<img src="images/thumb/thumb-140x100-1.jpg">
                            	<span>Marlboro Light Style Your Party Bandung</span>
                            </a>
                            <a href="#"><img src="images/thumb/thumb-140x100-3.jpg">
                            	<span>Marlboro Light Style Your Party Jakarta</span>
                            </a>
                            <a href="#"><img src="images/thumb/thumb-140x100-3.jpg">
                            	<span>Marlboro Light Style Your Party Surabaya</span>
                            </a>
                            <a href="#"><img src="images/thumb/thumb-140x100-4.jpg">
                            	<span>Marlboro Light Style Your Party Medan</span>
                            </a>
                        
                      </div>	
                    </div>
                    <!-- aksi untuk halaman selanjutnya -->
                    <a class="nextPage browse right"></a>
                </div>