<h2>ALBUM 1</h2>
<table>
	<tr>
		<td>
			<a href="index.php?gallery=1&album=2&id=1"><img src="images/thumb/thumb-110x75-1.jpg" /></a><br />
			PHOTO 1
		</td>
		<td>&nbsp;</td>
		<td>
			<a href="index.php?gallery=1&album=2&id=1"><img src="images/thumb/thumb-110x75-1.jpg" /></a><br />
			PHOTO 2
		</td>
		<td>&nbsp;</td>
		<td>
			<a href="index.php?gallery=1&album=2&id=1"><img src="images/thumb/thumb-110x75-1.jpg" /></a><br />
			PHOTO 3
		</td>
		<td>&nbsp;</td>
		<td>
			<a href="index.php?gallery=1&album=2&id=1"><img src="images/thumb/thumb-110x75-1.jpg" /></a><br />
			PHOTO 4
		</td>
	</tr>
</table>