<div>
	<img src="images/banner/banner-side-240x200.jpg" />
</div>
<br />
<div>CAPTION</div>
<div>
	<input type="button" value="previous"/>&nbsp;
	<input type="button" value="next"/>&nbsp;
</div>
<div>
	<input type="text" value="comment text box" style="width:300px;"/>
</div>
<div>
	<input type="button" value="like"/>&nbsp;
	<input type="button" value="comment"/>&nbsp;
</div>
<div>
	<div><b>Komentar</b></div>
	<div>Katty</div>
	<div>Lorem ipsum dolor is amet</div>
	<div>Katty</div>
	<div>Lorem ipsum dolor is amet</div>
</div>