				<div class="title">
                    <h1>News Feed</h1>
                </div>
                <div class="content">
                	<img class="img-left" src="images/thumb/thumb-110x75-1.jpg" />
                    <div class="text">
                    	<span class="date"> 2 Februari 2011</span>
                        <p>Serunya gathering di Surabaya yang dihadiri oleh
                        Presiden Phillip Morris. Acara diawali oleh 
                        serangkaian sambutan dan upacara...</p>
                        <a href="#">Lebih Lanjut &raquo;</a>
                    </div>
                </div>
				<div class="content">
                	<img class="img-left" src="images/thumb/thumb-110x75-1.jpg" />
                    <div class="text">
                    	<span class="date"> 2 Februari 2011</span>
                        <p>Serunya gathering di Surabaya yang dihadiri oleh
                        Presiden Phillip Morris. Acara diawali oleh 
                        serangkaian sambutan dan upacara...</p>
                        <a href="#">Lebih Lanjut &raquo;</a>
                    </div>
                </div>
				<div class="content">
                	<img class="img-left" src="images/thumb/thumb-110x75-1.jpg" />
                    <div class="text">
                    	<span class="date"> 2 Februari 2011</span>
                        <p>Serunya gathering di Surabaya yang dihadiri oleh
                        Presiden Phillip Morris. Acara diawali oleh 
                        serangkaian sambutan dan upacara...</p>
                        <a href="#">Lebih Lanjut &raquo;</a>
                    </div>
                </div>
				<div class="content">
                	<img class="img-left" src="images/thumb/thumb-110x75-1.jpg" />
                    <div class="text">
                    	<span class="date"> 2 Februari 2011</span>
                        <p>Serunya gathering di Surabaya yang dihadiri oleh
                        Presiden Phillip Morris. Acara diawali oleh 
                        serangkaian sambutan dan upacara...</p>
                        <a href="#">Lebih Lanjut &raquo;</a>
                    </div>
                </div>