<div class="title">
            	<h1>Acara Terkini</h1>
                <a href="index.php?events=1" class="view-all">Semua Acara</a>
                </div>
                <div class="content">
                	<div class="list">
                        <div class="text">
                        	<span class="date">2 April 2011</span>
                        	<span class="title">Kumpul-kumpul bareng teman</span>
                        	<span class="place">kampus di Hall A</span>
                            <a href="index.php?events=1&id=32" class="view-detal">Lihat Detail</a>
                        </div>
                    </div>
                	<div class="list">
                        <div class="text">
                        	<span class="date">2 April 2011</span>
                        	<span class="title">Kumpul-kumpul bareng teman</span>
                        	<span class="place">kampus di Hall A</span>
                            <a href="index.php?events=1&id=23" class="view-detal">Lihat Detail</a>
                        </div>
                    </div>
                	<div class="list">
                        <div class="text">
                        	<span class="date">2 April 2011</span>
                        	<span class="title">Kumpul-kumpul bareng teman</span>
                        	<span class="place">kampus di Hall A</span>
                            <a href="index.php?events=1&id=23" class="view-detal">Lihat Detail</a>
                        </div>
                    </div>
                </div>